#password-input{
    width:30%;
    display:flex;
    position: relative;
}

#password-input input[type="password"], #password-input input[type="text"]{
    width:100%;
    padding:10px;
    border: 1px solid lightgrey;
    font-size: 15px;
}

#passoword-input #showHide {
    font-size: 12px;
    font-weight: 600;
    position: absolute;
    color: red;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    user-select: none;
}

#password-strength{
    width:30%;
    height:5px;
    margin:5px 0;
    display: none;
}

#password-strength span{
    position: relative;
    height: 100%;
    width: 100%;
    background:lightgray;
    border-radius: 5px;
}

#password-strength span:nth-child(2){
    margin : 0 3px;

}

#password-strength span.active:before{
    position: absolute;
    content:'';
    top:0;
    left:0;
    height: 100%;
    width:100%;
    border-radius: 5px;

}

#password-strength span#poor:before{
    background-color: #ff4757;

}

#password-strength span#weak:before{
    background-color: orange;

}

#password-strength span#strong:before{
    background-color: #23ad5c;
}

#passwordInfo{
    font-size: 15px;

}

#passwordInfo #poor{
    color: red;
}

#passwordInfo #weak{
     color:orange;
}

#passwordInfo #strong{
    color: green;
}