*{
    margin:0;
    padding:0;
    border: 0;
    box-sizing: border-box;
}

.wrap-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.hero-container{
    /* background-image: url('./assets/Image.jpg'); */
    background-size: cover;
    background-color: rgba(52, 152, 219, 0.5);
    background-position: center;
    background-repeat: repeat;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
} 

.navbar-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    margin:5rem;
}

@media screen and (max-width:480px) {
    .navbar-container{
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
}

.para-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

#p-1{
    color: #fff;
    font-weight: bold;
    font-size: 20px;
}

#btn-1{
    margin-top: 3rem;
    /* margin: 4px 2px; */
    padding: 20px;
    display: inline-block;
    text-align: center;
    background-color: blue;
    color: #fff;
    border-radius: 12px;
    border: none;
    cursor: pointer;

}

h3{
    color: #fff;
    font-size: 60px;
}

.form{
    margin: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10rem;
}