/* body{
    background-color: palegoldenrod;
}

@media screen and (min-width:480px) {
    body{
        background-color: aqua;
    }
} */

*{
    box-sizing: border-box;

}

.topnav{
    overflow: hiiden;
    background-color: #333;

}

.topnav a{
    float: left;
    display: block;
    color: red;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover{
    background-color: #ddd;
    color: black;

}

@media screen and (max-width:600px){
    .topnav a{
        float: none;
        width: 100%;
    }
}